<p>
  Results:
  <%= link_to 'Breakdown', survey_summary_path(survey, 'breakdown') %>
  <%= link_to 'Most Recent', survey_summary_path(survey, 'most_recent') %>
  <%= link_to 'Your Answers', survey_summary_path(survey, 'user_answer') %>
</p>
