<ol>
  <% multiple_choice_submittable.options.each do |option| -%>
    <li>
      <%= submission_fields.radio_button :text, option.text, id: dom_id(option) %>
      <%= content_tag :label, option.text, for: dom_id(option) %>
    </li>
  <% end -%>
</ol>
